

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
                 <div class="about text-center">
                     <h2 class="header my-5 ">ABOUT US</h2>
                     <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptatem quo nisi nam quibusdam voluptates corporis minus maiores aliquid, tempore omnis consectetur ratione animi perspiciatis maxime hic ex iure consequuntur.
                     </p>
                 </div>
        </div>
    </div>
</div>
